$color-primary--1: #feedea;
$color-primary--2: #fcd5cc;
$color-primary--3: #f9b3a3;
$color-primary--4: #f78f78;
$color-primary--5: #f46e50;
$color-primary--6: #f24e29;
$color-primary--7: #ce4223;
$color-primary--8: #ac371d;
$color-primary--9: #8a2c17;
$color-primary--10: #6d2312;

$color-secondary--1: #e6e7e9;
$color-secondary--2: #c2c6cb;
$color-secondary--3: #9299a2;
$color-secondary--4: #5f6976;
$color-secondary--5: #2f3c4d;
$color-secondary--6: #011126;
$color-secondary--7: #010e20;
$color-secondary--8: #010c1b;
$color-secondary--9: #010a16;
$color-secondary--10: #000811;

$color-natural--1: #ffffff;
$color-natural--2: #fdfdfd;
$color-natural--3: #f6f6f6;
$color-natural--4: #f2f2f2;
$color-natural--5: #dedede;
$color-natural--6: #c8c8c8;
$color-natural--7: #9b9b9b;
$color-natural--8: #6f6f6f;
$color-natural--9: #5d5d5d;
$color-natural--10: #424242;
$color-natural--11: #3c3c3c;
$color-natural--12: #333333;
$color-natural--13: #212121;

$color-green--1: #e8f7ef;
$color-green--2: #c9edd8;
$color-green--3: #9ddeb9;
$color-green--4: #70cf99;
$color-green--5: #45c17a;
$color-green--6: #1cb35d;
$color-green--7: #18984f;
$color-green--8: #147f42;
$color-green--9: #106635;
$color-green--10: #0d512a;

$color-red--1: #fee9ea;
$color-red--2: #fdcacd;
$color-red--3: #fba0a5;
$color-red--4: #f9747b;
$color-red--5: #f74a53;
$color-red--6: #f5222d;
$color-red--7: #d01d26;
$color-red--8: #ae1820;
$color-red--9: #8c131a;
$color-red--10: #6e0f14;

$color-yellow--1: #fffbeb;
$color-yellow--2: #fff4cf;
$color-yellow--3: #ffeca9;
$color-yellow--4: #ffe381;
$color-yellow--5: #ffda5b;
$color-yellow--6: #ffd237;
$color-yellow--7: #d9b32f;
$color-yellow--8: #b59527;
$color-yellow--9: #91781f;
$color-yellow--10: #735e19;
