h1 {
  font-size: 52px;
  font-weight: 700;
}
h2 {
  font-size: 29px;
  font-weight: 700;
}
h3 {
  font-size: 23px;
  font-weight: 700;
}
h4 {
  font-size: 20px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
  font-weight: 700;
}

p,
div {
  font-size: 14px;
  font-size: 400;
}

.caption {
  font-size: 13px;
  font-size: 400;
}
.tag {
  font-size: 10px;
  font-size: 700;
}
