@import '../abstracts/variables';

:export {
  ColorPrimary1: $color-primary--1;
  ColorPrimary2: $color-primary--2;
  ColorPrimary3: $color-primary--3;
  ColorPrimary4: $color-primary--4;
  ColorPrimary5: $color-primary--5;
  ColorPrimary6: $color-primary--6;
  ColorPrimary7: $color-primary--7;
  ColorPrimary8: $color-primary--8;
  ColorPrimary9: $color-primary--9;
  ColorPrimary10: $color-primary--10;

  ColorSecondary1: $color-secondary--1;
  ColorSecondary2: $color-secondary--2;
  ColorSecondary3: $color-secondary--3;
  ColorSecondary4: $color-secondary--4;
  ColorSecondary5: $color-secondary--5;
  ColorSecondary6: $color-secondary--6;
  ColorSecondary7: $color-secondary--7;
  ColorSecondary8: $color-secondary--8;
  ColorSecondary9: $color-secondary--9;
  ColorSecondary10: $color-secondary--10;

  ColorNatural1: $color-natural--1;
  ColorNatural2: $color-natural--2;
  ColorNatural3: $color-natural--3;
  ColorNatural4: $color-natural--4;
  ColorNatural5: $color-natural--5;
  ColorNatural6: $color-natural--6;
  ColorNatural7: $color-natural--7;
  ColorNatural8: $color-natural--8;
  ColorNatural9: $color-natural--9;
  ColorNatural10: $color-natural--10;
  ColorNatural11: $color-natural--11;
  ColorNatural12: $color-natural--12;
  ColorNatural13: $color-natural--13;

  ColorGreen1: $color-green--1;
  ColorGreen2: $color-green--2;
  ColorGreen3: $color-green--3;
  ColorGreen4: $color-green--4;
  ColorGreen5: $color-green--5;
  ColorGreen6: $color-green--6;
  ColorGreen7: $color-green--7;
  ColorGreen8: $color-green--8;
  ColorGreen9: $color-green--9;
  ColorGreen10: $color-green--10;

  ColorRed1: $color-red--1;
  ColorRed2: $color-red--2;
  ColorRed3: $color-red--3;
  ColorRed4: $color-red--4;
  ColorRed5: $color-red--5;
  ColorRed6: $color-red--6;
  ColorRed7: $color-red--7;
  ColorRed8: $color-red--8;
  ColorRed9: $color-red--9;
  ColorRed10: $color-red--10;

  ColorYellow1: $color-yellow--1;
  ColorYellow2: $color-yellow--2;
  ColorYellow3: $color-yellow--3;
  ColorYellow4: $color-yellow--4;
  ColorYellow5: $color-yellow--5;
  ColorYellow6: $color-yellow--6;
  ColorYellow7: $color-yellow--7;
  ColorYellow8: $color-yellow--8;
  ColorYellow9: $color-yellow--9;
  ColorYellow10: $color-yellow--10;
}
